<%= render "battles/status/battle_transition" %>

<div data-controller="music">
  <% if @battle.teacher.status == "tutorial" %>
    <audio src="/free_battle1.wav" loop='true' data-music-target='audio'></audio>
  <% elsif @battle.teacher.status == "regular" %>
    <audio src="/free_battle2.wav" loop='true' data-music-target='audio'></audio>
    <% elsif @battle.teacher.status == "core_four" %>
    <audio src="/Slackbot_Battle.mp3" loop='true' data-music-target='audio'></audio>
  <% elsif @battle.teacher.status == "final_boss" %>
    <audio src="/For_Final_Boss_Extended.mp3" loop='true' data-music-target='audio'></audio>
  <% elsif @battle.teacher.status == "secret_boss" %>
    <audio src="/For_Secret_Boss_Extended.mp3" loop='true' data-music-target='audio'></audio>
  <% end %>
  <button class="btn back" data-action='click->music#play' data-music-target='playButton'><i class="fa-solid fa-volume-xmark"></i></button>
  <button class="btn back" data-action='click->music#pause' data-music-target='pauseButton' hidden><i class="fa-solid fa-volume-high"></i></button>
</div>

<div data-controller="game" data-game-target='appear' data-game-battle-status-value="<%= @battle.status %>" class="battle-background" style="background-image: url('<%= image_path "background-hd.png" %>')" hidden>
  <div class="teacher-character">
    <div class="teacher-infos">
      <div><%= @battle.teacher.name %></div>
      <% if @battle.hp_teacher > 4 %>
        <div>HP: <span class="hp-number"><%= @battle.hp_teacher %></span></div>
      <% else %>
        <div>HP: <span class="hp-number-low"><%= @battle.hp_teacher %></span></div>
      <% end %>
    </div>
    <% if @battle.teacher.status == "tutorial" %>
      <%= cl_image_tag @battle.teacher.avatar_battle.key, class: 'enemy-image' %>
    <% else %>
      <%= cl_image_tag @battle.teacher.avatar_battle.key, class: 'enemy-image-mini' %>
    <% end %>
  </div>

  <div class="battle-starter">
    <h2 class="question-text text_shadows">Battle Start !</h2>
  </div>

  <div class="user-character">
    <div class="user-infos">
      <div><%= @game.user.username %></div>
      <% if @battle.teacher.status == "tutorial" %>
      <% elsif @battle.hp_user > 4 %>
        <div>HP: <span class="hp-number"><%= @battle.hp_user %></span></div>
      <% else %>
        <div>HP: <span class="hp-number-low"><%= @battle.hp_user %></span></div>
      <% end %>
    </div>
    <%= image_tag "userstaticright.png" %>
  </div>
  <div class="dialog-box">
    <%= "#{@battle.teacher.name} is challenging you to a flashcard battle !" %>
    <%= link_to continue_game_path(@game), data: { turbo_method: :patch, action: "click->game#continue", game_target: "continueLink" } do %>
      <i class="fa-regular fa-lg fa-square-caret-down"></i>
    <% end %>
  </div>
</div>
