<div class="battle-background" style="background-image: url('<%= image_path "background-plain.png" %>')">
  <div class="teacher-character">
    <div class="teacher-infos">
      <div><%= @game.battles.last.teacher.name %></div>
      <% if @game.battles.last.hp_teacher > 4 %>
          <div>HP: <span class="hp-number"><%= @game.battles.last.hp_teacher %></span></div>
        <% else %>
          <div>HP: <span class="hp-number-low"><%= @game.battles.last.hp_teacher %></span></div>
        <% end %>
    </div>
    <%= image_tag "redfront4.png", class: 'enemy-image' %>
  </div>
  <div class="stand-teacher">
    <%= image_tag "socle-teacher.png" %>
  </div>

  <div class="stand-user">
    <%= image_tag "socle-user.png" %>
  </div>
  <div class="user-character">
      <div class="user-infos">
        <div><%= @game.user.username %></div>
        <% if @game.battles.last.hp_user > 4 %>
          <div>HP: <span class="hp-number"><%= @game.battles.last.hp_user %></span></div>
        <% else %>
          <div>HP: <span class="hp-number-low"><%= @game.battles.last.hp_user %></span></div>
        <% end %>
      </div>
    <%= image_tag "back-user.png" %>
  </div>
  <div class="dialog-box">
    <% if @game.battles.last.hp_teacher == 0 %>
      <p><%= Round.last.battle.teacher.feedback_user_won %></p>
    <% elsif @game.battles.last.hp_user == 0 %>
      <p><%= Round.last.battle.teacher.feedback_user_lost %></p>
    <% end %>
    <%= link_to continue_game_path(@game), data: { turbo_method: :patch } do %>
      <i class="fa-regular fa-lg fa-square-caret-down"></i>
    <% end %>
  </div>
</div>
