<div data-controller="game" class="battle-background" style="background-image: url('<%= image_path "background-plain.png" %>')">
  <div class="teacher-character">
    <div class="teacher-infos">
      <div><%= @battle.teacher.name %></div>
      <% if @battle.hp_teacher > 4 %>
          <div>HP: <span class="hp-number"><%= @battle.hp_teacher %></span></div>
        <% else %>
          <div>HP: <span class="hp-number-low"><%= @battle.hp_teacher %></span></div>
        <% end %>
    </div>
    <% if @battle.teacher.status == "tutorial" %>
      <%= cl_image_tag @battle.teacher.avatar_battle.key, class: 'enemy-image' %>
    <% else  %>
      <%= cl_image_tag @battle.teacher.avatar_battle.key, class: 'enemy-image-mini' %>
    <% end %>
  </div>
  <div class="stand-teacher">
    <%= image_tag "socle-teacher.png" %>
  </div>

  <div class="question-box">
    <p class="question-text"><%= @round.question.content %></p>
  </div>

  <div class="slide-right">
    <p class="question-text">NEW QUESTION !</p>
  </div>

  <div class="stand-user">
    <%= image_tag "socle-user.png" %>
  </div>
  <div class="user-character">
      <div class="user-infos">
        <div><%= @game.user.username %></div>
        <% if @battle.teacher.status == "tutorial" %>
        <% elsif @battle.hp_user > 4 %>
          <div>HP: <span class="hp-number"><%= @battle.hp_user %></span></div>
        <% else %>
          <div>HP: <span class="hp-number-low"><%= @battle.hp_user %></span></div>
        <% end %>
      </div>
    <%= image_tag "back-user.png" %>
  </div>
  <div class="dialog-box">
    <%= "#{@battle.teacher.name} is throwing a flashcard at you !" %>
    <%= link_to continue_game_path(@game), data: { turbo_method: :patch } do %>
      <i class="fa-regular fa-lg fa-square-caret-down"></i>
    <% end %>
  </div>
</div>
