<div class="battle-background" style="background-image: url('<%= image_path "background-plain.png" %>')">
  <div class="teacher-character">
    <div class="teacher-infos">
      <div><%= @battle.teacher.name %></div>
      <% if @battle.hp_teacher > 4 %>
          <div>HP: <span class="hp-number"><%= @battle.hp_teacher %></span></div>
        <% else %>
          <div>HP: <span class="hp-number-low"><%= @battle.hp_teacher %></span></div>
        <% end %>
    </div>
    <%= image_tag "slackbotstatic.png", class: 'enemy-image' %>
  </div>
  <div class="stand-teacher">
    <%= image_tag "socle-teacher.png" %>
  </div>

  <div class="question-box">
    <p class="question-text"><%= @round.question.content %></p>
  </div>

  <% if @battle.teacher.status == "secret_boss" %>
    <div class="answers" style="display: none">
  <% else %>
    <div class="answers">
  <% end %>
      <% @round.question.answers.each do |answer| %>
        <%= link_to round_game_answers_path(@round, game_answer: {answer_id: answer.id}), data: { turbo_method: :post }, class:'answer-link' do %>
          <div class="answer">
            <%= answer.content %>
          </div>
        <% end %>
      <% end %>
    </div>

  <div class="stand-user">
    <%= image_tag "socle-user.png" %>
  </div>
  <div class="user-character">
      <div class="user-infos">
        <div><%= @game.user.username %></div>
        <% if @battle.teacher.status == "tutorial" %>
        <% elsif @battle.hp_user > 4 %>
          <div>HP: <span class="hp-number"><%= @battle.hp_user %></span></div>
        <% else %>
          <div>HP: <span class="hp-number-low"><%= @battle.hp_user %></span></div>
        <% end %>
      </div>
    <%= image_tag "back-user.png" %>
  </div>

  <div class="dialog-box">
    <% if @battle.teacher.status == "secret_boss" %>
      <%= form_for :secret_boss, url: round_game_answers_path(@round, GameAnswer.new), method: :post, data: { turbo: :false } do |f| %>
        <%= f.text_field :content %>
        <%= f.submit "Go" %>
      <% end %>
    <% else %>
      Pick an answer !
    <% end %>
  </div>
</div>
