<h1>This is the clear page</h1>

<p>Congrats <%= current_user.username %>! You are ruler of Gaudelet Kingdom!</p>

<p>Find back your game #<%= @game.id %> whenever (you're logged in) at http://127.0.0.1:3000/games/<%= @game.id %>.</p>

<p><%= link_to continue_game_path(@game), data: { turbo_method: :patch, dialog_switch_target: 'continue' } do %>
          Continue
        <% end %></p>

<p><%= link_to root_path do %>
          Return home
        <% end %></p>
