<% tile_count_y = 8 %>
<% tile_count_x = 10 %>

<div data-controller="music">
  <audio src="/Wagon-music.mp3" loop='true' data-music-target='audio'></audio>
  <button class="btn back" data-action='click->music#play' data-music-target='playButton'><i class="fa-solid fa-volume-xmark"></i></button>
  <button class="btn back" data-action='click->music#pause' data-music-target='pauseButton' hidden><i class="fa-solid fa-volume-high"></i></button>
</div>

<div class="container">
  <div class="intro"
    data-controller="map"
    data-map-user-position-x-value="<%= @game.user_position_x %>"
    data-map-user-position-y-value="<%= @game.user_position_y %>"
    data-map-map-position-x-min-value="1"
    data-map-map-position-x-max-value="<%= tile_count_x %>"
    data-map-map-position-y-min-value="2"
    data-map-map-position-y-max-value="<%= tile_count_y %>"
    >
    <% tile_count_y.times do |y| %>
      <% tile_count_x.times do |x| %>
      <% position = "#{x + 1}-#{y + 1}" %>
        <div class ="tile"
          id="<%=position%>"
          <% if @obstacle_positions.include?(position) %>
            data-map-target="obstacle"
          <% end %>
          >
          <% if @user_position == position %>
            <div data-map-target="user">
              <%= image_tag "userstaticback.png", width: 45, height: 93, class: "user d-none", data: {'map-target': "userBack"}%>
              <%= image_tag "userstatic.png", width: 45, height: 93, class: "user", data: {'map-target': "userFace"}%>
              <%= image_tag "userstaticright.png", width: 45, height: 93, class: "user d-none", data: {'map-target': "userRight"}%>
              <%= image_tag "userstaticleft.png", width: 45, height: 93, class: "user d-none", data: {'map-target': "userLeft"}%>
            </div>
          <% end %>
          <% if @slackbot_position == position %>
            <%= cl_image_tag @slackbot.avatar_map.key, width: 48, height: 96, class: "teacher" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to "Continue", continue_game_path(@game), data: { turbo_method: :patch } %>
</div>
