<% tile_count_y = 38#19 %>
<% tile_count_x = 54#27 %>

<div data-controller="music">
  <audio src="/map_free.mp3" loop='true' data-music-target='audio'></audio>
  <button class="btn back" data-action='click->music#play' data-music-target='playButton'><i class="fa-solid fa-volume-xmark"></i></button>
  <button class="btn back" data-action='click->music#pause' data-music-target='pauseButton' hidden><i class="fa-solid fa-volume-high"></i></button>
</div>

<div class="battle-background" style="background-image: url('<%= image_path "poke-back.png" %>')">
  <div class="container-map">
    <div class="map"
      data-controller="map"
      data-map-user-position-x-value="<%= @game.user_position_x %>"
      data-map-user-position-y-value="<%= @game.user_position_y %>"
      data-map-map-position-x-min-value="1"
      data-map-map-position-x-max-value="<%= tile_count_x %>"
      data-map-map-position-y-min-value="1"
      data-map-map-position-y-max-value="<%= tile_count_y %>"
      data-map-conversation-value="false"
      >
      <% tile_count_y.times do |y| %>
        <% tile_count_x.times do |x| %>
          <% position = "#{x + 1}-#{y + 1}" %>
          <div class ="tile"
            id="<%=position%>"
            <% if @teachers_per_position.key?(position) %>
              data-map-target="obstacle teacherTile"
            <% elsif @obstacle_positions.include?(position) %>
              data-map-target="obstacle"
            <% end %>
            >

            <% if @teachers_per_position.key?(position) && @teachers_per_position[position].status != "secret_boss" %>
              <%= cl_image_tag @teachers_per_position[position].avatar_map.key, width: 45, height: 93, class: "teacher" %>
              <%#= image_tag "jeremystatic.png", width: 48, height: 96, class: "teacher" %>
            <% end %>

            <% if @user_position == position %>
              <div data-map-target="user">
                <%= image_tag "userstaticback.png", width: 45, height: 93, class: "user d-none", data: {'map-target': "userBack"}%>
                <%= image_tag "userstatic.png", width: 45, height: 93, class: "user", data: {'map-target': "userFace"}%>
                <%= image_tag "userstaticright.png", width: 45, height: 93, class: "user d-none", data: {'map-target': "userRight"}%>
                <%= image_tag "userstaticleft.png", width: 45, height: 93, class: "user d-none", data: {'map-target': "userLeft"}%>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <% @teachers.each do |teacher| %>
        <div id="dialog-<%= "#{teacher.position_x}-#{teacher.position_y}" %>" class="dialog-box" data-map-target="dialog" data-controller="dialog-switch" data-dialog-switch-current-dialog-value="1" hidden>
          <div data-dialog-switch-target='firstDialog'>
            <%= "#{teacher.name} : #{teacher.open_dialog1}" %>
            <i class="fa-regular fa-lg fa-square-caret-down" data-dialog-switch-target='continue' data-action='click->dialog-switch#next'></i>
          </div>
          <div data-dialog-switch-target='secondDialog' hidden>
            <%= "#{@user.username} : #{teacher.open_dialog2}" %>
            <i class="fa-regular fa-lg fa-square-caret-down" data-dialog-switch-target='continue' data-action='click->dialog-switch#next2'></i>
          </div>
          <div data-dialog-switch-target='thirdDialog' hidden>
            <%= form_for :battle, url: game_battles_path(@game), method: :post, data: { turbo: :false } do |f| %>
              <%= hidden_field_tag :user_position_x, @game.user_position_x, data: { map_target: "userPositionXInput" } %>
              <%= hidden_field_tag :user_position_y, @game.user_position_y, data: { map_target: "userPositionYInput" } %>

              <%= "#{teacher.name} : #{teacher.open_dialog3}" %>
              <%= button_tag(type: "submit", data: {dialog_switch_target: 'continue'}) do %>
                <i class="fa-regular fa-lg fa-square-caret-down"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
